html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
}

body {
    background: #000;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.app {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.header {
    padding: 5px 20px 5px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.header-title {
    margin: 0;
    padding: 0;
    flex: 1;
    font-size: 35px;
    font-weight: normal;
}

.refresh {
    border: none;
    outline: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: none;
}

.refresh-pic {
    width: 22px;
    height: 22px;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    animation:rotate 1s infinite linear
}

.currency {
    display: flex;
    padding: 5px 20px;
}

.currency-name {
    flex: 1
}

.currency-rate {
    border-radius: 3px;
    padding: 3px 7px;
    font-size: 25px;
}

.currency-rate_up {
    background: rgba(0, 255, 0, 0.5);
}

.currency-rate_down {
    background: rgba(255, 0, 0, 0.5);
}

.lastUpdate {
    font-size: 12px;
    padding-left: 20px;
}

.reload {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.reload__btn {
    box-shadow: 0 1px 5px rgba(255, 255, 255, .34);
    width: 90px;
    height: 35px;
    background-color: #cecece;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    color: #333;
    line-height: 1.5;
    font-size: 16px;
    text-shadow: 1px solid rgba(255, 255, 255, 0.8);
    outline: none;
}

@keyframes rotate{from{transform:rotate(0deg)} to {transform:rotate(360deg)}}
